Ignore/*
Releases/*
Tests/Output/*
.vs/*
.vscode/*
Examples/Output/*
Examples/Input/*
Examples/Documents/*
Releases/*
Artefacts/*
ReleasedUnpacked/*
Sources/.vs
Sources/*/.vs
Sources/*/obj
Sources/*/bin
Sources/*/*/obj
Sources/*/*/bin
Sources/packages/*
Lib/Default/*
Lib/Standard/*
Lib/Core/*
Lib/*
CLAUDE.MD
.claude/*
Example/*/*.pdf